version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore(gha):"
    groups:
      github-actions:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore(deps):"
    groups:
      exist:
        patterns:
          - "@existdb/*"
      semantic-release:
        patterns:
          - "@semantic-release/*"
          - "semantic-release"
      other:
        patterns:
          - "*"
        exclude-patterns:
          - "@existdb/*"
          - "@semantic-release/*"
          - "semantic-release"

