<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="@namespace@" abbrev="@target@" version="@version@" spec="1.0">
    <title>@title@</title>
    <xquery>
        <namespace>http://exist-db.org/xquery/router</namespace>
        <file>router.xql</file>
    </xquery>
    <xquery>
        <namespace>http://exist-db.org/xquery/router/errors</namespace>
        <file>errors.xql</file>
    </xquery>
    <xquery>
        <namespace>http://exist-db.org/xquery/router/util</namespace>
        <file>util.xql</file>
    </xquery>
    <xquery>
        <namespace>http://exist-db.org/xquery/router/auth</namespace>
        <file>auth.xql</file>
    </xquery>
    <xquery>
        <namespace>http://exist-db.org/xquery/router/parameters</namespace>
        <file>parameters.xql</file>
    </xquery>
    <xquery>
        <namespace>http://exist-db.org/xquery/router/std</namespace>
        <file>std-router.xql</file>
    </xquery>
</package>
