<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="@namespace@" abbrev="@target@" version="@version@" spec="1.0">
    <!-- <dependency processor="http://exist-db.org" semver-min="5.0.0" /> -->
    <title>@title@</title>
    <xquery>
        <namespace>http://e-editiones.org/roaster</namespace>
        <file>roaster.xqm</file>
    </xquery>
    <xquery>
        <namespace>http://e-editiones.org/roaster/router</namespace>
        <file>router.xql</file>
    </xquery>
    <xquery>
        <namespace>http://e-editiones.org/roaster/errors</namespace>
        <file>errors.xql</file>
    </xquery>
    <xquery>
        <namespace>http://e-editiones.org/roaster/util</namespace>
        <file>util.xql</file>
    </xquery>
    <xquery>
        <namespace>http://e-editiones.org/roaster/auth</namespace>
        <file>auth.xql</file>
    </xquery>
    <xquery>
        <namespace>http://e-editiones.org/roaster/parameters</namespace>
        <file>parameters.xql</file>
    </xquery>
</package>
