<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo">
    <description>@description@</description>
    <author>@author@</author>
    <website>@website@</website>
    <status>@status@</status>
    <license>@license@</license>
    <copyright>true</copyright>
    <type>library</type>
</meta>